* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: rgb(18, 18, 18, 1);
    display: flex;
    flex-direction: column;      
}

header{
    position: fixed;
    top: 0;
    border-bottom: 1px solid white;
    width: 100%;
    height: 110px;
    font-size: 28px;
text-align: center;
background: linear-gradient(
to right,
rgb(230, 0, 0) 0%,
rgb(18, 18, 18) 15%,
rgb(18, 18, 18) 85%,
rgb(0, 0, 230) 100%
);
}

h1{
color: white;
padding: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 60px;
font-style: italic;
}

.contenedor {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.menu{
    width: 6%;
    height:100vh;
    position: fixed;
    top: 110px;
    left: 0;
    display: inline-block;
}

#boton-menu {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  width: 100%;
  text-align: center;
  transition: box-shadow 0.3s ease;
  transition: transform 0.3s ease;
}

#boton-menu:hover {
  box-shadow: inset 0 -4px 6px rgba(240, 0, 0);
  transform: scale(1.1);
}

.main{
    text-align: justify;
    width:92%;
    color: white;
    overflow-y: auto;
    padding-top: 130px;
    padding-left: 10px;
    padding-right: 25px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow-x: hidden;
}

h2{
  font-size: 40px;
  padding-left: 80px;
  padding-top: 10px;
  color: #ccc;
}

.card-bloque {
    padding-bottom: 25px;
    border-bottom: 1px solid #555; 
}

.card-bloque1 {
  padding-bottom: 18px;
  border-bottom: 1px solid #555;
}

.partidos {
  width: 80%;
  margin: 20px auto;
  border: 1px solid red;
  background-color: #111;
  color: white;
  padding-bottom: 20px;
}

.tabla-partidos {
  width: 100%;
  border-collapse: collapse;
}

.tabla-partidos td {
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  font-size: 18px;
}

.tabla-partidos th{
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    font-size: 25px;
}

.tabla-partidos th:nth-child(1){
    text-align: left;
}

.tabla-partidos td:nth-child(1){
    text-align: left;
}

.tabla-partidos thead {
  background-color: black;
}

#td-temporada1, #td-temporada2, #td-temporada3{
  text-align: center;
}


img {
  vertical-align: middle;
  margin-right: 8px;
}

.btn{
  margin-top: 32px;
  text-align: center;
}

.btn-tabla{
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid rgb(200, 0, 0);
  background-color: rgb(230, 0, 0, 1);
  cursor: pointer;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  padding: 6px;
}

.bracket {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-top: 20px;
  margin-right: 40px;
}

.round {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.round-2{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 87px;
}

.round-3{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 130px;
}

.round-4{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 130px;
}


.match {
  width: 140px;
  height: 120px;
  background: transparent;
  display: flex;
  flex-direction: column;
}

.team-1 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  color: white;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: rgb(1, 113, 224)
}

.team-2 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  color: white;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: cornflowerblue;
}

.team-3 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  color: white;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: rgb(0,20,50)
}
.team-4 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  color: white;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: rgb(0, 0, 100)
}
.team-5 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  color: white;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: yellow;
}
.team-6 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  color: white;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: rgb(0,0,80)
}
.team-7 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  color: white;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: white;
}
.team-8 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  color: white;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: rgb(0, 0, 220)
}
.team-9 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: rgb(169, 17, 17)
}.team-10 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: black;
}.team-11 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  color: white;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: rgb(0, 0, 220)
}.team-12 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  color: white;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: rgb(0, 0, 220)
}.team-13 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  color: white;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: rgb(0, 0, 220)
}.team-14 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  color: white;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: rgb(0, 0, 220)
}.team-15 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  color: white;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: rgb(0, 0, 220)
}.team-16 {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background: transparent;
  color: white;
  padding: 0px 2px;
  overflow: hidden;
  font-size:18px;
  background-color: rgb(0, 0, 220)
}

.okc{
  color: rgb(255, 72, 0);
}

.mem{
  color: rgb(0, 0, 100);
}

.den{
  color: yellow;
}

.lal{
  color: purple;
}

.hou{
  color: red;
}

.gs{
  color: yellow;
}

.cle {
  color: yellow;
}

.mia {
  color: rgb(230, 0, 0);
}

.score {
  font-size: 30px;
  font-weight: bold;
  width: 20px;
  height: 80;
  text-align: right;
  margin-left: 40px;
}

.score-2 {
  font-size: 30px;
  font-weight: bold;
  width: 20px;
  height: 80;
  text-align: right;
  margin-left: 48px;
}

.score-3 {
  font-size: 30px;
  font-weight: bold;
  width: 20px;
  height: 80;
  text-align: left;
  margin-right: 45px;
  margin-left:15px;
}

.score-4 {
  font-size: 30px;
  font-weight: bold;
  width: 20px;
  height: 80;
  text-align: left;
  margin-right: 55px;
  margin-left: 15px;
}

.score-5 {
  font-size: 30px;
  font-weight: bold;
  width: 20px;
  height: 80;
  text-align: left;
  margin-right: 70px;
  color: white
}

.score-6 {
  font-size: 30px;
  font-weight: bold;
  width: 20px;
  height: 80;
  text-align: right;
  margin-left: 50px;
  color: white
}

.img-playoffs {
  width:60px;
  height: 60px;
  object-fit: contain;
}

.img-playoffs-1 {
  width:50px;
  height: 50px;
  object-fit: contain;
}

.img-playoffs-2 {
  width:100px;
  height: 80px;
  object-fit: contain;
}



.team:last-child {
  border-bottom: none;
}


h3{
  font-size: 30px;
  padding-left: 80px;
  padding-top: 20px;
  color: #ccc;
  scroll-margin-top: 100px;
}

footer{    
    width: 100%;
    height: 10vh;
    color: white;
    text-align: center;
    padding: 22px;
    background-color: black;
}

